In [1]:
import pandas as pd

In [19]:
df = pd.read_csv("people.csv")
df

   ID first_name last_name
0   1     ZArmer   Hussain
1   2      Talat      Shah
2   3       Zaib       Ali
3   4   Mohammad       Ali
4   5   Mohammad      Alam
5   6   Mohammad     Shafi
6   7      Talat   Hussain
7   8     ZArmer   Hussain
8   9    Husnain       Ali

In [22]:
# for v in df['first_name'].unique():
#     df['first_name'] == v

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
Name: first_name, dtype: bool
0    False
1     True
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: first_name, dtype: bool
0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: first_name, dtype: bool
0    False
1    False
2    False
3     True
4     True
5     True
6    False
7    False
8    False
Name: first_name, dtype: bool
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
Name: first_name, dtype: bool

In [26]:
# print(df["first_name"])

duplicateRowsDF = df[df.duplicated(['first_name'])]
print( duplicateRowsDF["first_name"], sep='\n')

Duplicate Rows based on a single column are:
   ID first_name last_name
4   5   Mohammad      Alam
5   6   Mohammad     Shafi
6   7      Talat   Hussain
7   8     ZArmer   Hussain