#  from CSV find all first names which occur more than once and their count.

In [28]:
# pandas help to read data and analysis data  
import pandas as pd

In [33]:
# read and check csv file whats in that
df = pd.read_csv("people.csv")
df

   ID first_name last_name
0   1     ZArmer   Hussain
1   2      Talat      Shah
2   3       Zaib       Ali
3   4   Mohammad       Ali
4   5   Mohammad      Alam
5   6   Mohammad     Shafi
6   7      Talat   Hussain
7   8     ZArmer   Hussain
8   9    Husnain       Ali

In [32]:
# from df dataframe find duplicated values from only column first_name 

duplicateRowsDF = df[df.duplicated(['first_name'])]
# print  duplicated values from only column first_name 
print( duplicateRowsDF["first_name"])

4    Mohammad
5    Mohammad
6       Talat
7      ZArmer
Name: first_name, dtype: object